{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 style="font-family: 'cwTeXHei', serif;">磁雲共振 MxYUN</h1>
    <p class="lead"> MxYUN is a web framework for data analysis of MRI </p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            MxYUN is provided by the Bioimaging Lab of Dept. of EE, Taiwan Tech.
            Please visit us at http://mri.ee.ntust.edu.tw 
        </p>
        <p><a class="btn btn-default" href="http://mri.ee.ntust.edu.tw">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>TBD</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MRI</h2>
        <p>TBD</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
