{% extends "app/layout.html" %}



{% block content %}

<h2>Input the experiment data for T2 Fitting:</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="/T2_result/" method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Fill in TE and S0 to calculate T2</h4>
		<hr />
                <div class="form-group">
                    <label for="t_value" class="col-md-2 control-label">Echo Times</label>
                    <div class="col-md-10" >
                        {{ form.t_value }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="t_value" class="col-md-2 control-label">Signal Intensity</label>
                    <div class="col-md-10" >
                        {{ form.y_value }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Calculate" class="btn btn-default" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>


    
</div>

<p>
Try it!
<p>
Simply copy the following test data into the input boxes and click submit.
<p>

Test data: 
<p>

TE=0 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 
<p>
S0= 1.0 0.72 0.51 0.37 0.26 0.19 0.13 0.09 0.07 0.05 0.03 0.03 0.01 0.01 0.01 0.006 0.004 0.003 0.002 0.001 



<p>
Provided by Chun-Yu Huang & Teng-Yi Huang
{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
