{% extends "app/layout.html" %}



{% block content %}

<div class="bs-callout bs-callout-primary" sytle="width=80%"> 
    <h3>AHA17 Input</h3>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                <form action="/AHA17_result/" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="t_value" class="col-md-2 control-label">INPUT 0~256</label>
                        <div class="col-md-10" >
                            {{ form.t_value }}
                        </div>
                    </div>
    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Plot AHA-17" class="btn btn-default" />
                        </div>
                    </div>
                    {% if form.errors %}
                    <p class="validation-summary-errors">Please enter a correct user name and     password.</p>
                    {% endif %}
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm"></section>
        </div>
    </div>
</div>

<div class="bs-callout bs-callout-info">
        <p>
        
        This web app plots the bullseye figure for the left ventricle according to 
        the American Heart Association (AHA)
        
        <p>[REF] M. D. Cerqueira, N. J. Weissman, V. Dilsizian, A. K. Jacobs,S. Kaul, W. K. Laskey, D. J.         Pennell, J. A. Rumberger, T. Ryan,and M. S. Verani, "Standardized myocardial segmentation and         nomenclature for tomographic imaging of the heart", Circulation, vol. 105, no. 4, pp. 539-542,         2002.
        <p>
        Try it!
        <p>
        Simply copy the following test data into the input boxes and click submit.
        <p>
        
        Test data: 
        <p>
        
        INPUT= 120 220 0 125 95 50 10 7 8 69 115 256 97 229 150 13 71        
        
        
        <p>
        Provided by Chun-Yu Huang & Teng-Yi Huang

    </div> 


{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
